# Cache
.cache
*.pyc
__pycache__

# Coverage
htmlcov
.coverage
coverage.xml

# Build
build
dist
*.egg-info

# Project files
.idea
.vscode
*.swp

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Dev
venv
.DS_Store
